@import 'color/liteColor';

.fc-event {
    background-color: $liteCardColor !important;
    border: 3px solid $cardColor !important;
    border-radius: 10px !important;

    &:hover {
        border: 1px dashed rgb(47, 27, 226) !important;
    }

}

.fc-button-primary {
    color: rgb(36, 36, 36) !important;
    background-color: rgb(97, 141, 253) !important;
    // border-color: rgb(255, 255, 255) !important;
}

.curMove {
    cursor: move;
}

//dark mode
.fc-unthemed td.fc-today {
    background: $liteCardColor !important;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
    border-color: $liteCardColor !important;
}