.docDetails {
    color: $liteTextDoc;
}

a {
    &:hover {
        text-decoration: none !important;
        color: $lightDarkGreen2 !important;
    }
}

.margin {
    margin: 0.5rem;
}

.margin1 {
    margin: 1rem;
}

.margin2 {
    margin: 1.5rem;
}

.margin3 {
    margin: 2rem;
}

.taskBg {
    background-color: $liteCardColor !important;
    padding: 0.4rem;
    border-radius: 0.3rem;
}

.codeBg {
    background-color: $textColor !important;
    padding: 0.4rem;
    border-radius: 0.3rem;
}

.marginLeft1 {
    margin-left: 1rem;
}

.versionText {
    color: $lightDarkGreen2;
}

.releseDate {
    color: $textColorFocus;
}

.changelogItems {
    color: $textColorFocus;
    list-style-type: round;
}

.changeItem {
    color: $textColorFocus;
}


// 
.codePreview1 {
    background-color: #581b98;
    border-radius: 3px;
    padding: 0 3px 0 3px;
    margin: 0 3px 0 3px;
    color: #fff98c;
}