// Ui Tabs col right light line draw
.blineright {
    border-right: 1px solid rgb(237, 237, 255);
}

// Ui Tabs col right light line draw

/*badge custom animation */

@keyframes badge {
    0% {
        transform: translateY(0px);
    }

    14% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(-4px);
    }

}

.badge {
    &:hover {
        animation: badge 3s infinite 0s linear;
    }
}

// .badge:hover {
//     transform: translateY(-5px);
// }
// Bottom margin for small Device 
.margin-bottom {
    margin-bottom: 0.5rem;
}


// form Style size
.formS-PD-normal {
    height: calc(1.4em + 1rem + 2px);
}