// Card Footer Custom Padding
.dashbottom {
    border-bottom: 1px dashed !important;
    padding: 0px !important;
}

.card-footpd {
    padding: 0.19rem 0.19rem !important;
}

// Card Footer Custom Padding