.list-group-item {
    padding: 0.01rem 0.75rem;
}

.fontsizeP {
    font-size: small;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    cursor: grabbing !important;
}

.list-group-item {
    cursor: grab;

    &:hover {
        cursor: grab;
        border: 2px dashed #818c99 !important;
    }

    &:active {
        cursor: grabbing;
        border: 1px dashed #b0d4f8 !important;
    }
}

