.card-footer {
    border-top: 1px solid $textFocusBright !important;
}

// For placeholder
::placeholder {
    color: $textColorFocus;
    opacity: 1;
    /* Firefox */
}

.bg-lightDark {
    background-color: $liteCardColor;
}

// apexCharts DarkMode
.apexcharts-menu {
    background: $cardColor !important;
    border: 2px solid $fillBgC !important;

    .apexcharts-menu-item:hover {
        background: $textColorFocus !important;
        border-radius: 3px !important;
    }
}

//   apexCharts DarkMode
// Sticky Dark
.list-group-item:last-child {
    background-color: $cardColor !important;
}

// Sweet alerts 
.swal2-popup,
.swal2-title,
.swal2-content {
    background-color: $cardColor !important;
    color: $white !important;
}

// tabs
.nav-link.active {
    color: $white !important;
    background-color: $liteCardColor !important;
    border-color: $textFocusBright $textFocusBright $textFocusBright !important;

    &:hover {
        border-color: $textFocusBright $textFocusBright $textFocusBright !important;
    }
}

.nav-tabs {
    border-bottom: 1px solid $textFocusBright !important;
}

// card header 
.card {
    border: 1px solid transparent !important;
}

.card-header {
    border-bottom: 1px solid $textFocusBright !important;
}

/// list group bg
.list-group-item.list-group-item-action {
    &.active {
        background-color: $cardColor !important;
        color: $white !important;

        svg {
            color: $white !important;
        }
    }
}

.list-group-item {
    background-color: $liteCardColor !important;
    color: $textColor !important;

    &:active {
        background-color: $lightDarkGreen2 !important;
        color: $white !important;

        svg {
            color: $white !important;
        }
    }

    &:hover {
        background-color: $lightDarkGreen2 !important;
        color: $white !important;

        svg {
            color: $white !important;
        }
    }

    &:focus {
        background-color: $lightDarkGreen2 !important;
        color: $white !important;

        svg {
            color: $white !important;
        }
    }
}

// Model Dark mode // Model content
.modal-content {
    background-color: $cardColor !important;
}


// Custom wysihtml5-toolbar 
ul.wysihtml5-toolbar {
    border: 1px solid $textFocusBright !important;
}

// dropzone
.dropzone {
    background: $liteCardColor !important;
    color: $textColor !important;
}

// flat picker dark mode
.flatpickr-day {
    color: $lightDarkGreen2 !important;
}

.flatpickr-weekday {
    color: $white !important;
}

.flatpickr-months .flatpickr-month {
    color: $white !important;
}

// time focus
.flatpickr-time input,
.flatpickr-time .flatpickr-am-pm,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time input:focus,
.flatpickr-time .flatpickr-am-pm:focus {
    background: $liteCardColor !important;
    color: $white !important;
}

// Arrow up down
.flatpickr-time .numInputWrapper span.arrowUp {
    &::after {
        border-bottom-color: red !important;
    }

    &::before {
        border-bottom-color: red !important;
    }

    &.active {
        border-bottom-color: red !important;
    }
}

.flatpickr-time .numInputWrapper span.arrowDown:after {
    border-top-color: red !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    background: $liteCardColor !important;
}

.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
    border-top: 1px solid $textColor !important;
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
    color: $textColor !important;
    background: transparent;
    border-color: transparent;
    cursor: default;
}

.flatpickr-calendar {
    background: $liteCardColor !important;
    box-shadow: 1px 0 0 $liteCardColor, -1px 0 0 $liteCardColor, 0 1px 0 $liteCardColor, 0 -1px 0 $liteCardColor, 0 3px 13px rgba(0, 0, 0, 0.08) !important;
}


// dark mode of tables
.table-bordered {
    border: 1px solid $textColor !important;

    th,
    td {
        border: 1px solid $textColor !important;
    }
}
.table {
    color: $textColorFocus !important;
}