$bottomLine: blue;
// .pageH1 
$white: #ffffff;
// body Bg Color
$lightGrey: #eff3f9;
// sideNav Footer Color
$textDarkblue: #121c2b;
// bg linearGradient 

$bgLineGradient: linear-gradient(to left, rgb(2, 15, 71), rgb(6, 10, 27));
// Hover light searchbar active color
$hoverActiveSearch: rgb(79, 87, 133);
//  sidenav hover text color
$blueLight:#95afc0;
$cardColor: rgb(15, 24, 39);
$liteCardColor: rgb(27, 46, 75);
$liteTextDoc: #e8ffe8c5;
$fillBgC: rgb(6, 12, 22);
// header color 
$bghdark:rgb(24, 29, 58) ;
$brsoidColor:rgb(79, 87, 133) ;
$textFocusDark: rgb(16, 26, 44);
$textFocusBright: rgb(55, 74, 88);
$textColor: #47608f;
$textActive: rgb(212, 209, 209);
$textColorFocus: #8b9dbb;
$formColor1: #5068a9;
$formColor: rgb(14, 23, 38);
$lightDarkGreen: #74f9ff;
$lightDarkGreen2: #22d1ee;

// sticky bar Color
$stickyBorderLeft: #74f9ff;
$stickytext: #e8ffe8;

 

