// custom badge
.Custom_badge {
    top: -18px !important;
    background-color: $RedCustom;
    color: $white;
    position: relative;
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 60%;
    font-size: 12px;
    right: -10px;
}

// custom badges icons
.custom-badges-icon {
    color: $white !important;

    svg {
        color: $white !important;
    }
}

// badges open animation
@keyframes badge-animation {
    0% {
        transform: translateY(18px);
    }

    14% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }

}

.badgeanimation1 {
    background-color: $RedCustom;
    color: $white;
    position: relative;
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 60%;
    font-size: 12px;
    right: -10px;
    animation: badge-animation 3s infinite 0s linear;

}

