$clTURQUOISE: #1abc9c;
$clSUNFLOWER: #f1c40f;
$clsilver: #bdc3c7;

.clTURQUOISE {
    background-color: $clTURQUOISE;
}

.clSUNFLOWER {
    background-color: $clSUNFLOWER;
}

.clsilver {
    background-color: $clsilver;
} 