.messagebox a {
    border-bottom: 1px solid #e9ecef;
    display: block;
    text-decoration: none;
    padding: 8px 20px;

    &:hover {
        background: #eff4f8de;
    }
}

.msgBox {
    width: 300px;
    background-color: $liteCardColor;
    border-radius: 10px;
    padding: 10px;
}
.timeAgo{
    font-size: 12px;
}
.previewMsg{
    font-size: 13px;
    color: grey;
}
