.countBodyCircle {
    font-size: 32px;
    background-color: $BootStBlue;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 75px;
    width: 92px;
    height: 92px;
    display: inline-block;
}
.countBodyRounded{
    display: inline-block;
    font-size: 32px;
    background-color: $BootStBlue;
    border-radius: 5%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 75px;
    width: 92px;
    height: 92px;
}