.btFooter {
    position: fixed;
    width: 100% !important;
    bottom: 0 !important;
}
.topmarginBox{
    margin-top: -3rem;
}
.boxSized{
    height: 150px;
}
.textShadow{
    text-shadow: #341f97;
    color: #341f97;
    filter: drop-shadow(4px 4px 2px #351f9750);
}
.pd-2{
    margin: 2rem;
}
.brc-2{
    cursor: pointer;
}
.t-None{
    text-decoration: none !important;
}
.error {
    color: #5a5c69;
    font-size: 7rem;
    line-height: 1;
    width: 12.5rem
}

// price tables
  
  .price .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .price hr {
    margin: 1.5rem 0;
  }
  
  .price .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .price .price-card {
    font-size: 3rem;
    margin: 0;
  }
  
  .price .price-card .monthFont {
    font-size: 1rem;
  }
  
  .price ul li {
    margin-bottom: 1rem;
  }
  
  .price .text-muted {
    opacity: 0.7;
  }
  
  .price .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .price .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .price .card:hover .btn {
      opacity: 1;
    }
  }
// price tables

// padding of page privacy
.pb-8{
  padding: 8rem;
}
.logoCenter{
  height: 8rem;
}
.fontSizeofPvP{
  font-weight: 500;
  font-size: 2rem;
}