// Custon Icon For DropDorn Items
.dropDown-icons {
    &::before {
        border-right: 0 solid transparent !important;
        border-bottom: 0 !important;
        border-left: 0 solid transparent !important;
    }

    &::after {
        border-right: 0 solid transparent !important;
        border-bottom: 0 !important;
        border-left: 0 solid transparent !important;
        background-color: #fff !important;

    }

    &:hover {
        color: transparent !important;
    }

}