@import '../color/liteColor';

.form-control {
    background-color: $liteCardColor !important;
    border-color: #130f40b9 !important;
    color: $white !important;

    &::placeholder {
        color: $blueLight !important;
        opacity: 1;
        /* Firefox */
    }

    &:focus {
        color: $white !important;
        background-color: $liteCardColor !important;
        border-color: $lightDarkGreen !important;
        outline: 0 !important;
        box-shadow: 0 0 0 .1rem rgba(0, 123, 255, .25) !important;
    }
}