.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked~.custom-control-label::before {
        color: #fff;
        border-color: #17134bb9;
        background-color: #4e73df;
    }

    &:focus {
        ~.custom-control-label::before {
            box-shadow: 0 0 0 0.1rem rgba(78, 115, 223, 0.25);
        }

        &:not(:checked)~.custom-control-label::before {
            border-color: #bac8f3;
        }
    }

    &:not(:disabled):active~.custom-control-label::before {
        color: #fff;
        background-color: #e5ebfa;
        border-color: #e5ebfa;
    }

    &:disabled~.custom-control-label {
        color: #858796;

        &::before {
            background-color: #eaecf4;
        }
    }
}

// custom Switches next level
// 1.
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(231, 231, 231);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

    &:active {
        height: 26px;
        width: 30px;
    }
}

input:checked+.slider {
    background-color: rgb(107, 33, 243);
    box-shadow: 0 0 3px .6px #17134bb9;
}

input:focus+.slider {
    box-shadow: 0 0 3px .6px #17134bb9;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;

}

.slider.round:before {
    border-radius: 50%;
}

//   finished 1
// custom Switches next level
// 2.

.slider1 {
    height: 25px;
    width: 50px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1.7px;
    background-color: rgb(231, 231, 231);
    transition: .4s;
}

.slider1:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3.5px;
    background-color: rgb(80, 49, 255);
    transition: .4s;
    border: .7px solid #252066b9;
}

input:checked+.slider1 {
    border: 2px solid #252066b9;
}

input:focus+.slider1 {
    box-shadow: 0 0 3px .6px #17134bb9;
}

input:checked+.slider1:before {
    transform: translate(20.9px, 2.6px);
}

/* Rounded sliders */
.slider1.round {
    border-radius: 50px;
}

.slider1.round:before {
    border-radius: 50%;
}

// finished 2.
// 3rd and On off

.slider2 {
    height: 25px;
    width: 50px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2px;
    background-color: rgb(231, 231, 231);
    transition: .4s;
}

.slider2:before {
    position: absolute;
    content: "";
    color: white;
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3.3px;
    background-color: rgb(24, 2, 151);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
    transition: .4s;
    border: .7px solid rgb(24, 2, 151);
}

input:checked+.slider2 {
    border: 2px solid #25206648;
    background-color: rgba(24, 2, 151, 0.418);
}

input:focus+.slider2 {
    box-shadow: 0 0 3px .6px #17134bb9;
}

input:checked+.slider2:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    transform: translate(21px, 2.5px);
}

/* Rounded sliders */
.slider2.round {
    border-radius: 50px;
}

.slider2.round:before {
    border-radius: 50%;
}

// checkBoxesss

.primary-bgCBox {

    &:checked~.custom-control-label::before {
        color: #fff;
        border-color: #007BFF !important;
        background-color: #007BFF !important;
    }

    &:focus {
        ~.custom-control-label::before {
            box-shadow: 0 0 0 0.1rem rgba(78, 115, 223, 0.25) !important;
        }
    }
}

.secondary-bgCBox {

    &:checked~.custom-control-label::before {
        color: #fff;
        border-color: #6C757D !important;
        background-color: #6C757D !important;
    }

    &:focus {
        ~.custom-control-label::before {
            box-shadow: 0 0 0 0.1rem rgba(78, 115, 223, 0.25) !important;
        }
    }
}

.success-bgCBox {
    &:checked~.custom-control-label::before {
        color: #fff;
        border-color: #28A745 !important;
        background-color: #28A745 !important;
    }

    &:focus {
        ~.custom-control-label::before {
            box-shadow: 0 0 0 0.1rem rgba(78, 115, 223, 0.25) !important;
        }
    }
}

.danger-bgCBox {

    &:checked~.custom-control-label::before {
        color: #fff;
        border-color: #DC3545 !important;
        background-color: #DC3545 !important;
    }

    &:focus {
        ~.custom-control-label::before {
            box-shadow: 0 0 0 0.1rem rgba(78, 115, 223, 0.25) !important;
        }
    }
}

.warning-bgCBox {

    &:checked~.custom-control-label::before {
        color: #fff;
        border-color: #FFC107 !important;
        background-color: #FFC107 !important;
    }

    &:focus {
        ~.custom-control-label::before {
            box-shadow: 0 0 0 0.1rem rgba(78, 115, 223, 0.25) !important;
        }
    }
}

.info-bgCBox {

    &:checked~.custom-control-label::before {
        color: #fff;
        border-color: #17A2B8 !important;
        background-color: #17A2B8 !important;
    }

    &:focus {
        ~.custom-control-label::before {
            box-shadow: 0 0 0 0.1rem rgba(78, 115, 223, 0.25) !important;
        }
    }
}

.dark-bgCBox {

    &:checked~.custom-control-label::before {
        color: #fff;
        border-color: #343A40 !important;
        background-color: #343A40 !important;
    }

    &:focus {
        ~.custom-control-label::before {
            box-shadow: 0 0 0 0.1rem rgba(78, 115, 223, 0.25) !important;
        }
    }
}

// Rounded

